name: Regresion tests

on:
  push:
    branches-ignore:
      - "dependabot/**"
    paths-ignore:
      - ".gitignore"
      - "LICENSE"
      - "*.md"
      - ".github/ISSUE_TEMPLATE/**"
  pull_request:
    paths-ignore:
      - ".gitignore"
      - "LICENSE"
      - "*.md"
      - ".github/ISSUE_TEMPLATE/**"

jobs:
  container-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tackle-pathfinder
        uses: actions/checkout@v2
        with:
          path: tackle-pathfinder
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"
          java-package: jdk
      - name: Build container image
        run: |
          mvn -U -B package --file tackle-pathfinder/pom.xml \
          -Pnative -DskipTests \
          -Dquarkus.container-image.push=false \
          -Dquarkus.container-image.group=tackle \
          -Dquarkus.container-image.name=tackle-pathfinder \
          -Dquarkus.container-image.tag=current-pr \
          -Dquarkus.container-image.build=true \
          -Dquarkus.native.container-build=true
      - name: Save container image
        run: docker save -o tackle-pathfinder.tar tackle/tackle-pathfinder:current-pr
      - name: Upload container image
        uses: actions/upload-artifact@v2
        with:
          name: tackle-pathfinder
          path: tackle-pathfinder.tar

  k8s:
    runs-on: ubuntu-latest
    needs: [ container-image ]
    strategy:
      fail-fast: false
      matrix:
        tier: [ "@tier1", "@tier2", "@tier3" ]
    steps:
      - name: Download container image
        uses: actions/download-artifact@v2
        with:
          name: tackle-pathfinder
          path: .
      - name: Load container image
        run: docker load -i tackle-pathfinder.tar

      - name: Checkout tackle
        uses: actions/checkout@v2
        with:
          repository: konveyor/tackle
          path: tackle
      - name: Checkout tackle-ui-tests
        uses: actions/checkout@v2
        with:
          repository: konveyor/tackle-ui-tests
          path: tackle-ui-tests
          ref: dev
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.3.1
        with:
          minikube version: v1.18.1
          kubernetes version: v1.20.2
          start args: "--addons=registry --addons=ingress"
      - name: Validate Minikube
        run: minikube status | grep Running
      - name: Validate Cluster
        run: kubectl get nodes
      - name: Validate enabled addon in arg
        run: minikube addons list -o json | jq '.registry.Status' | grep enabled
      - name: Kubectl create namespace
        run: kubectl create ns tackle

      - name: Deploy tackle
        run: sleep 60s && kubectl create -f tackle/kubernetes/kubernetes-tackle.yaml -n tackle

      - name: Verify keycloak
        run: kubectl wait deployment/keycloak --for condition=available --timeout=-1s -n tackle
      - name: Verify tackle-controls
        run: kubectl wait deployment/tackle-controls --for condition=available --timeout=-1s -n tackle
      - name: Verify tackle-application-inventory
        run: kubectl wait deployment/tackle-application-inventory --for condition=available --timeout=-1s -n tackle
      - name: Verify tackle-pathfinder
        run: kubectl wait deployment/tackle-pathfinder --for condition=available --timeout=-1s -n tackle
      - name: Verify tackle-ui
        run: kubectl wait deployment/tackle-ui --for condition=available --timeout=-1s -n tackle

      - name: Set custom tackle-pathfinder
        run: |
          kubectl patch deployment tackle-pathfinder --patch '{"spec":{"template":{"spec":{"containers":[{"name":"tackle-pathfinder","imagePullPolicy":"Never"}]}}}}' -n tackle
          kubectl set image deployment/tackle-pathfinder tackle-pathfinder=tackle/tackle-pathfinder:current-pr -n tackle
          kubectl wait deployment/tackle-pathfinder --for condition=available --timeout=-1s -n tackle

      - name: Wait for Ingress
        run: |
          bash -c 'external_ip="";
          while [ -z $external_ip ];
            do echo "Waiting for end point...";
            external_ip=$(kubectl get ingress tackle --template="{{range .status.loadBalancer.ingress}}{{.ip}}{{end}}" -n tackle);[ -z "$external_ip" ] &&
            sleep 10;
          done;
          echo "End point ready:" &&
          echo $external_ip;
          export endpoint=$external_ip;
          echo "CYPRESS_tackleUrl=https://$external_ip" >>$GITHUB_ENV'

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          working-directory: tackle-ui-tests
          record: false
          start: npx echo "Starting Minikube Cypress tests"
          config: pageLoadTimeout=100000,retries=2,video=false
          browser: chrome
          spec: |
            **/*.test.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_user: tackle
          CYPRESS_pass: password
          CYPRESS_grepTags: ${{ matrix.tier }}
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: integration-tests-screenshots
          path: tackle-ui-tests/cypress/screenshots
