name: Tackle Pathfinder CI PR Minikube Test

on:
  pull_request:
    branches: [ main ]

jobs:
  minikube-api-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.4.0
        with:
          minikube version: 'v1.16.0'
          kubernetes version: 'v1.19.2'
          github token: ${{ secrets.GITHUB_TOKEN }}
          driver: docker
          start args: '--addons=registry --addons=ingress --cpus 2 --memory 6000'
      - name: Get minikube IP
        id: getMinikubeIp
        run: echo "::set-output name=value::$(minikube ip)"
        shell: bash
#      - name: Pulling image for test
#        run: |
#          docker pull quay.io/jonathanvila/tackle-pathfinder:0.0.1-SNAPSHOT-native
#          docker tag quay.io/jonathanvila/tackle-pathfinder:0.0.1-SNAPSHOT-native quay.io/konveyor/tackle-pathfinder:0.0.1-SNAPSHOT-native
#          minikube cache add quay.io/${{ github.repository_owner }}/tackle-pathfinder:0.0.1-SNAPSHOT-native
#          minikube cache list
      - name: Build Pathfinder image and push it to the minikube docker host
        run: |
          set -x
          cd ${{github.workspace}}
          ./mvnw -U -B package -DskipTests -Pnative \
            -Dquarkus.container-image.push=false \
            -Dquarkus.container-image.build=true \
            -Dquarkus.container-image.group=${{ github.repository_owner }} \
            -Dquarkus.container-image.additional-tags=latest-jar \
            -Dquarkus.container-image.tag=0.0.1-SNAPSHOT-native \
            -Dquarkus.container-image.registry=quay.io \
            -Dquarkus.native.container-build=true
          minikube cache add quay.io/${{ github.repository_owner }}/tackle-pathfinder:0.0.1-SNAPSHOT-native
          minikube cache list
      - name: Check during max 2 minutes to allow Minikube ingress to be ready
        timeout-minutes: 2
        run: |
          while [[ ! "$(kubectl rollout status deployment ingress-nginx-controller -n kube-system)" =~ "successfully" ]]; do
            sleep 15
          done
      - name: Deploy Pathfinder on minikube
        run: |
          set -x
          kubectl create namespace tackle
          kubectl apply -f src/test/resources/test-deployment.yaml -n tackle
          sed 's/imagePullPolicy: Always/imagePullPolicy: Never/g' src/main/kubernetes/tackle-pathfinder.yaml | kubectl apply -n tackle -f -
      - name: Print status on Minikube
        run : |
          set -x
          kubectl get pods -n tackle
          kubectl describe deployment tackle-pathfinder -n tackle
      - name: Check during max 10 minutes to allow objects to be created and ready
        timeout-minutes: 10
        run: |
          while [[ ! "$(kubectl rollout status deployment tackle-pathfinder -n tackle)" =~ "successfully" ]]; do
            sleep 15
          done
      - name: Print status on Minikube
        run : |
          set -x
          kubectl get pods -n tackle
          kubectl describe deployment tackle-pathfinder -n tackle
      - name: API simple tests
        run: .github/scripts/check_api.sh
        timeout-minutes: 5
        
